<div ng-controller="BoardController" class="container-fluid">
    <h1>써라!! 등록될 것이다....</h1>
<form>
    <textarea ng-model="user.text" class="form-control" rows="3"></textarea>
    <button ng-click="reset()">RESET</button>
    <button ng-click="save(user)">SAVE</button>

    <pre>form = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
</form>

    <h1>등록 됬네????</h1>
<div>{{master.text}}</div>
<ul ng-repeat="article in articles | orderBy:'-no'">
    <li>{{article.no}} - {{article.text}} <button ng-click="delete($index)">DELETE</button></li>
</ul>
</div>

