<div ng-controller="BoardController" class="container-fluid">
    <h1>Write Form</h1>
<form name="boardForm">
  <div class="control-group" ng-class="{'has-error': boardForm.content.$invalid}">
    <label class="control-label">Message:</label>
    <textarea name="content" ng-model="article.content" rows="3" class="form-control" required></textarea>
    <span ng-show="boardForm.content.$error.required" class="help-inline">
       * Required</span>
  </div>
    <input ng-model="article.tags" name="tag" ng-pattern="/[^,]+/g">
    <button ng-click="reset()">RESET</button>
    <button ng-click="save(article)">SAVE</button>

    <pre>form = {{article | json}}</pre>
    <pre>articles = {{articles | json}}</pre>
</form>

    <h1>Message List</h1>
<div>{{master.text}}</div>
<ul ng-repeat="article in articles | orderBy:'-no'">
    <li>{{article.no}} - {{article.content}} : TAG COUNT({{article.tags.length}})<button ng-click="delete($index)">DELETE</button></li>
</ul>
</div>

